  <style type="text/css" media="all">
    .enable-promotionspace{
    display: none;
    }
    .aft-blocks{display:none}
    .site-footer{
      display: none;
    }
    .mid-header-warpper{
      display: none;
    }
    .search-icon{display: none;}
    .container-wrapper{display: none;}
    .pos-rel{display: none;}
    .post-navigation{display: none;}
  </style>
  
